DB_HOST=#EXAMPLE localhost
DB_PORT=#EXAMPLE 5432
MAIN_DB_NAME=#EXAMPLE postgres
CREATED_DB_NAME=#EXAMPLE retail
DB_USER=#EXAMPLE postgres
DB_PASSWORD=#EXAMPLE yourpassword
APP_RUNTIME_DIR=#EXAMPLE Disk:\projects-folder\project-name